.DS_Store
package.tar.gz
*.tar.gz
.venv/
.env
# Ignore the static binaries
src/tedge/bin/mosquitto
src/tedge/bin/tedge
# Build-generated capability marker (see scripts/build.sh)
src/tedge/.tedge-run-all
tmp/
/tedge-*
binaries/zig-mosquitto/
log.html
output.xml
report.html
